---
# Merge patch to add node affinity for explore phase
spec:
  template:
    spec:
      # Schedule onto nodes created by the biometric-explore NodePool
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: nodepool
                    operator: In
                    values:
                      - biometric-explore
